body {
  background-color: #121212; 
  /* background-color: #000000;  */
}

.game {
  display: flex;
  flex: 1;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: auto;
}

.scene, .interface {
  display: flex;
  align-items: center;
}

.scene {
  height: 55%;
  /* width: 80%; */
  
}

.scene > img {
  display: flex;
  width: 100%;
  max-height: 100%;
  
}

.interface {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: column;
  height: 45%;
  font-family:fantasy;
  font-size: 21px;
}

.text {
  color: #e3e3e3;
  width: 80%;
  text-align: center;
  
}

.choices {
  display: flex;
  width: 55%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.button {
  box-sizing: border-box;
  color: #e3e3e3;
  background-color: transparent;
  padding: 10px 15px;
  display:  flex;
  align-items: center;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);
}

.hidden {
  display: none;
}

button:hover{
  cursor: pointer;
  background-color: #880808;
  
}

#restart {
  box-sizing: border-box;
  color: #e3e3e3;
  background-color: #88080899;
  padding: 2px 5px;
  display:  flex;
  align-items: center;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);
}

#reset:hover{
  cursor: pointer;
  background-color: #880808;
}
